{% extends "pocketwingman/base.html" %}
{% block body_block %}
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Pocketwingman crowd sources advice from people for dating and getting with girls and presents
                            you with only the best tips and tricks that guys/girls have learned. Don't know what to
                            do at a bar there is a category for that. Don't know what to say on a first date.
                            There is a category for that too. Don't know how to kiss a girl, well you guessed there
                            is a category for that.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <B>What are you waiting for</B>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <a href="/">Go out and get them</a>
                    </div>
                </div>

            </div>

        </div>

{% endblock %}