{% extends "pocketwingman/base.html" %}
{% block body_block %}
    <div class="jumbotron">
      <div class="container">

            <div class="col-md-6 col-md-offset-3">

        <h2>Pocketwingman</h2>
        <p class="lead">Here to help you when it counts most.</p>
        <p>
		<a href="/pocketwingman/help_me/" class="btn btn-success" role="button">Help Me</a>
		<a href="/pocketwingman/help_out/" class="btn btn-success" role="button">Help Out</a>
	    <p><a href="/pocketwingman/help_me/5" class="btn btn-primary btn-lg btn-danger" role="button">Panic </a></p>


            <button class="btn btn-primary" type="submit" name="hard_mode" id="enable-hard-mode">Hard mode</button>

            <button class="btn btn-primary" type="submit" name="easy_mode" id="enable-easy-mode">Easy mode</button>
        </p>

            <input type="checkbox" data-on-color="danger" data-on-text="Hardmode" data-off-text="Easymode" name="my-checkbox">



    </div>

    </div>

{% endblock %}

