{% extends "pocketwingman/base.html" %}
{% block body_block %}
    <div class="jumbotron">
      <div class="container">

            <div class="col-md-6 col-md-offset-3">

        <h2>Pocketwingman</h2>
        <p class="lead">Here to help you when it counts most.</p>
        <p>
		<a href="/pocketwingman/help_out/" class="btn btn-success" role="button">Help Me</a>
		<a href="/pocketwingman/help_me/" class="btn btn-success" role="button">Help Out</a>
	    <p><a href="/pocketwingman/help_me/5" class="btn btn-primary btn-lg btn-danger" role="button">Panic </a></p>
        </p>
    </div>

    </div>

{% endblock %}

