{% extends "pocketwingman/base.html" %}
{% block body_block %}
 <main class="bs-masthead" id="content" role="main">
  <div class="container">
    <h1>Pocketwingman</h1>
    <p class="lead">Here to help you when it counts most.</p>
    <p>
      <a href="/pocketwingman/help_out/" class="btn btn-outline-inverse btn-lg" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 3.0.3']);">Help Out</a>
      <a href="/pocketwingman/help_me/" class="btn btn-outline-inverse btn-lg" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 3.0.3']);">Help Me</a>
    </p>
  </div>
</main>
{% endblock %}

